body{
    margin:0;
    font-family:Arial;
    background:black;
    color:white;
}


.hero{
    text-align:center;
    padding:50px;
    background:linear-gradient(to right, #ff512f, #dd2476);
}


.section{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
    background:white;
    color:black;
}


.text{
    width:50%;
    padding:20px;
}


.image img{
    width:300px;
}


.footer{
    text-align:center;
    padding:20px;
    background:#111;
}

@media (max-width:600px){

    .container{
        padding:20px;
        width:95%;
    }

    h1{
        font-size:24px;
    }

    p{
        font-size:14px;
    }

    img{
        max-width:180px;
    }
}
