body{
    margin:0;
    background:black;
    color:white;
    font-family:'Poppins', sans-serif;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    font-family:'Playfair Display', serif;
    font-size:42px;
    margin:0;
}

.hero p{
    color:#ccc;
    margin-top:10px;
}

.image-section{
    background:white;
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:50px 20px;
    flex-wrap:wrap;
}

.image-section img{
    width:300px;
    border-radius:6px;
}


.quote{
    max-width:400px;
}

.main-quote{
    font-size:20px;
    font-weight:500;
    margin-bottom:15px;
}

.bio{
    text-align:center;
    padding:60px 20px;
}

.bio h2{
    font-family:'Playfair Display', serif;
    font-size:30px;
    margin-bottom:20px;
}

.bio p{
    max-width:600px;
    margin:15px auto;
    color:#ddd;
    line-height:1.7;
}

footer{
    text-align:center;
    padding:20px;
    color:#aaa;
}
@media (max-width:600px){

    .container{
        padding:20px;
        width:95%;
    }

    h1{
        font-size:24px;
    }

    p{
        font-size:14px;
    }

    img{
        max-width:180px;
    }
}
