body{
    margin:0;
    font-family:Arial;
    background:black;
}

.hero{
    text-align:center;
    padding:60px;
    background:linear-gradient(to right,#ff512f,#dd2476);
    color:white;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
    background:white;
}

.text{
    width:50%;
    padding:20px;
    color:black;
}

.image img{
    width:350px;
    height:400px;
    border-radius:10px;
    object-fit: cover;
}

.footer{
    text-align:center;
    padding:20px;
    background:#111;
    color:white;
}
