
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background:black;
    color:white;
}



.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:50px;
}

.years{
    color:gray;
    margin-top:10px;
}

.circle{
    width:60px;
    height:60px;
    border:2px solid white;
    border-radius:50%;
    margin:20px auto;
}



.quote-section{
    background:white;
    color:black;
    padding:40px 20px;
}

.quote-container{
    max-width:1000px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}

.quote-text{
    flex:1;
    font-size:22px;
}

.quote-image{
    flex:1;
    text-align:center;
}

.quote-image img{
    width:250px;
    border-radius:10px;
}



.bio-section{
    padding:60px 20px;
    max-width:800px;
    margin:auto;
}

.bio-section h2{
    font-size:32px;
    margin-bottom:20px;
}

.bio-section p{
    margin-bottom:15px;
    color:#ccc;
}


/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    border-top:1px solid #333;
    color:gray;
}



@media(max-width:900px){

.quote-container{
    flex-direction:column;
    text-align:center;
}

.hero h1{
    font-size:40px;
}

}


@media(max-width:600px){

.hero{
    height:70vh;
}

.hero h1{
    font-size:30px;
}

.quote-text{
    font-size:18px;
}

.quote-image img{
    width:180px;
}

.bio-section h2{
    font-size:26px;
}

}
